<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Ubuntu:ital,wght@1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="shortcut icon" href="https://wallpapercave.com/wp/wp9257237.jpg" type="image/x-icon"> -->
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/images/logo-iiitu.jpg" type="image/x-icon">
    <title>Library Management</title>
    <link rel="stylesheet" href="output.css">
    <!-- <style>
        div{
            width: 100%;
            /* height: 50rem; */
            padding-top: 5rem;
            margin: auto;

        }
        div h2{
            font-size: 5rem;
            text-align: center;
            cursor: pointer;
        }
        div h3{
            font-size: 3rem;
            text-align: center;
        }
    </style> -->
   
   
</head>
<body>
    <nav>
        <div class="logo">
            <img class="w-20 h-20 flex place-self-center" src="/images/logo.jpg" alt="">
            <p> <span>IIITU</span> Library</p>
        </div>
        <!-- sign in with college id -->
        <ul>
            <li id="btn_addbook"><a href="/addbooks">Add Books</a></li>
            <li id="btn_addbook"><a href="/removebooks">Remove Books</a></li>
            <li id="btn_addbook"><a href="/seeaccount">See an account</a></li>
            <li id="btn_return"><a href="/returnBook">Return Book</a></li>
            <li id="btn_home"> <a href="/logout">Log Out</a> </li>
        </ul>
    </nav>

    <div class="space"></div>
    <div>
        <h2>Congratulations!</h2><br>
        <h3>You have returned book successfully<br><br><h2 onclick="previous()">Go to Previous page</h2></h3>
    </div>
</body>
<script>
    function previous()
    {
        window.history.go(-1);
    }
</script>
</html>